@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Micro+5&display=swap');

* {
    padding: 0px;
    margin: 0px;
    text-transform: capitalize;
}

body {
    background-image: linear-gradient(to bottom, #edd155, #d5bf5a, #beae5e, #a79c61, #928b63);
    color: #4A4A4A;
    font-family: "Gloria Hallelujah", cursive;

}

.pao-do-joao {}

img {
    width: 150px;
    height: 150px;
}

a {
    text-decoration: none;
    color: #EDD155;

}

h1 {
    font-size: 80px;
}

h1:hover {
    text-decoration-line: underline;
}


header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #4A4A4A;
    color: #EDD155;
}

#conteudo-principal {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    margin: 10px;
    font-size: 16px;
    transition: 0.3s;
}

ul li:hover {
    font-size: 32px;

}

.container-information {
    padding: 7px;
    border-radius: 15px;
    -webkit-box-shadow: 15px 8px 27px 9px rgba(77, 76, 77, 0.68);
    -moz-box-shadow: 15px 8px 27px 9px rgba(77, 76, 77, 0.68);
    box-shadow: 15px 8px 27px 9px rgba(77, 76, 77, 0.68);
    transition: 0.7s;
}

.container-information:hover {
    padding: 7px;
    border-radius: 15px;
    -webkit-box-shadow: 30px 10px 77px 8px rgba(77, 76, 77, 0.68);
    -moz-box-shadow: 30px 10px 77px 8px rgba(77, 76, 77, 0.68);
    box-shadow: 30px 10px 77px 8px rgba(77, 76, 77, 0.68);
    transition: 0.7s;
}


h2 {
    text-align: center;
}

span {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    background-color: black;
    color: #EDD155;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
}

.container-information h2 {
    text-decoration: underline;
    text-decoration-color: black;
}

/* small dispositive*/
@media only screen and (max-width: 600px) {
    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #4A4A4A;
        color: #EDD155;
    }

    #conteudo-principal {
        max-width: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 30px;
    }

    .container-information {
        margin-top: 40px;
    }
}

/* medium dispositive*/
@media only screen and (min-width: 600px) {
    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #4A4A4A;
        color: #EDD155;
    }

    #conteudo-principal {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 30px;
    }

    #container {
        display: flex; height: 122%;
    }
}

/* large dispositive*/
@media only screen and (min-width: 768px) {
    #container {
        display: flex;
        height: 100vh;
    }

}